@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

:root{
    --color-primary: #6C9BCF;
    --color-danger: #FF0060;
    --color-success: #1B9C85;
    --color-warning: #F7D060;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;
    --duration: 0.3s;
    --box-shadow: 0 2rem 3rem var(--color-light);
}

.dark-mode-variables{
    --color-background: #181a1e;
    --color-white: #202528;
    --color-dark: #edeffd;
    --color-dark-variant: #a3bdcc;
    --color-light: rgba(0, 0, 0, 0.4);
    --box-shadow: 0 2rem 3rem var(--color-light);
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    background-color: var(--color-background);
    color: var(--color-dark);
    font-family: 'Rajdhani', sans-serif;
    box-sizing: border-box;
    height: 100vh;
}


p{
    color: var(--color-dark-variant);
}

b{
    color: var(--color-dark);
}

/* start header */

.header {
    height: 60px !important;
}



.navbar .dashboard-details-container .dark-mode {
    background-color: var(--color-white);
    border-radius: var(--border-radius-2);
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.navbar .dashboard-details-container .dark-mode span{
    color: var(--color-dark);
    font-size: 15px;
    text-align: center;
    padding: 3px 8px;
    cursor: pointer;
}

.navbar .dashboard-details-container .dark-mode span.active {
    background-color: var(--color-primary);
    color: #FFF;
    border-radius: var(--border-radius-2);
    cursor: auto;
}

.navbar .dashboard-details-container .profile-info p {
    font-size: 14px;
}


.navbar .dashboard-details-container .profile-info small {
    color: var(--color-dark-variant);
}


@media screen and (max-width: 767px) {
    .header .navbar {
        padding-right:  0px !important;
        padding-left:  0px !important;
    }
    .header .navbar .dashboard-details-container {
        padding: 0px !important;
    }
    .navbar .dashboard-details-container .profile-info p {
        font-size: 13px;
    }
}

.header .navbar-brand {
    color: var(--color-dark);
}

@media screen and (max-width: 767px) {
    .header .navbar-brand span {
        display: none;
    }
}



/* end header */

/* section products */

.card {
    background-color: var(--color-white) !important;
    margin-top: 50px;
}

.card-title {
    background-color: #f2f2f27d; 
    padding: 15px;
    border: 1px dashed rgb(242, 103, 103);
    border-radius: 5px;
}

.card-title  .main-title-icon {
    background-color: #99b1b724;
    display: inline-block;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #787884d4;
    border-radius: 5px;
    
}
/* section products */